*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body{
    line-height: 1.5;
} */

header{
    color: white;
    padding: 1rem; 
    text-align: end;
    margin: 5rem;
    display: inline;
}

h1{
    border: 2px solid whitesmoke;
    padding: 5px;
    margin: 1rem;
    text-align: start;
    color: black;
    position: fixed;
    background:linear-gradient(to right, white,green);
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content:end;
}

header nav ul li {
    margin: 1rem 15px;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: yellowgreen;
}

a:active{
    color: goldenrod;
}

section{
    padding: 4rem;
}

.about{
    background-color: yellow;
    margin: 2rem 1px;
    line-height: 1.5;
}

.projects{
    background-color: green;
    margin: 2rem 1px;
    line-height: 1.5;
}

div h2{
    text-align: center;
    line-height: 3.5;
}
.skills{
    background-color: blueviolet;
}

.home{
    background: linear-gradient(to right,red, orange);
    height: 35vh;
}

.home p{
    font-size: 12px;
}

.projects .project{
    margin: 1rem ;
}

.contact{
    background: radial-gradient(circle,red,orange);
    line-height: 2;
}
footer{
    background: linear-gradient(to right,white,cadetblue);
    color: black;
    text-align: end;
    padding: 0.5rem 1px;
    margin-top: 2rem;
}
